html,
body {
    border: 0;
    background: black;
    margin: 0;
    padding: 0;
}

#canvas-container {
    border: 0;
    text-align: center;
    width: 100%;
}

canvas {
    border: 0;
    margin: 0;
    padding: 0;
    width: 1080px;
    height: 720px;
    overflow: hidden;
    z-index: 0;
    display: inline;
}

#controls-container {
    color: #ffffff;
    text-align: center;
}
